{% extends "layout.html" %}
{% block title %}Exercises {% endblock %}
{% block page %}Wonder Workout Exercises{% endblock %}

{{ super() }}

{% block content %}

<div class="tables">
    <table>
        <thead>
            <tr>
                <th>Exercise</th>
                <th>Muscle Group</th>
            </tr>
        </thead>
        <tbody> 
        {% for exer in exercises %}
            <tr>
                <td><a class = 'exercises' href="/exercise/{{exer.id}}">{{exer.name}}  </a>
                    <div class="workout">
                        <a onclick="openform( {{exer.id}} )" href="#">Add to Workout</a>
                    </div>
                    <br>
                    <div class = "form-popup" id="{{exer.id}}">
                        <form method="POST" action="/exercise/{{exer.id}}" style="padding:1em">
                            <input type="text" placeholder="Workout Name" name = "workout_name">
                            <button type="submit" class="btn1">Submit</button>
                            <button type="button" class = "btn1" onclick="closeForm({{exer.id}})">Close</button>
                        </form>
                    </div>
                </td>
                <td>{{exer.muscle}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
</div>

<script> 
    function openform(id){
        document.getElementById(id).style.display="block";
    }
    function closeForm(id){
        document.getElementById("add").style.display = "none";
    }
    </script>
</script>

{% endblock %}