{% extends "home.html" %}
{% block title %} Exercise Information {% endblock %}

{{ super() }}

{% block content %}

<div class="tables">
    <p> 
        <strong>Name</strong>: {{exercise.name}}
        <br>
        <strong>Type</strong>: {{exercise.ex_type}}
        <br>
        <strong>Muscle</strong>: {{exercise.muscle}}
        <br>
        <strong>Equipment</strong>: {{exercise.equipment}}
        <br>
        <strong>Difficulty</strong>: {{exercise.difficulty}}
        <br>
        <strong>Instructions</strong>: {{exercise.instructions}}
    </p>
</div>

<script> 
</script>

{% endblock %}