{% extends "layout.html" %}
{% block title %}Wonder Workout {% endblock %}
{% block page %}Wonder Workout{% endblock %}


{{ super() }}

{% block content %}
<div><h3>Hello, {{user_name}} </h3>
  <div>SESSIONS:</div>
  </div>
  <main>
    {% for workout in workouts %}
    <div class="workout">
    <a href="/workout/{{workout.id}}">{{workout.name}}</a>
    </div>
    {% endfor %}
    <br>
    <div class="workout">
      <a class="adding" onclick="openform()" href="#">+</a>
    </div>
    <br>
    <div class = "form-popup" id="add">
      <form method="POST" action="/create-workout" style="padding:1em">
        <input type="text" placeholder="Workout Name" name = "name">
        <button type="submit" class="btn1">Submit</button>
        <button type="button" class = "btn1" onclick="closeForm()">Close</button>
      </form>
    </div>

    <script>
      function openform(){
        document.getElementById("add").style.display="block";
      }
      function closeForm() {
        document.getElementById("add").style.display = "none";
      }
    </script>
    
  </main>
  <footer>
    <nav>
      <ul>
        <li><a href="/profile">Profile</a></li>
        <li><a href="/exercise">Exercises</a></li>
        <li><a href="/contact_page">Contact Us</a></li>
        <li><a href="/calender_page">Calendar</a></li>
      </ul>
    </nav>
  </footer>
</body>
{% endblock %}
