{% extends "layout.html" %}
{% block title %}Wonder Workout {% endblock %}
{% block page %}Wonder Workout{% endblock %}


{{ super() }}

{% block content %}
<div><h3>Hello, {{user_name}} </h3>
  <div>SESSIONS:</div>
  </div>
  <main>
    <div class="workout">
    <a href="/workout">Workout</a>
    </div>

    <div class="workout">
      <a class="adding" href="#">+</a>
    </div>

    <div class="workout">
      <a class="adding" href="#">+</a>
    </div>
    
  </main>
  <footer>
    <nav>
      <ul>
        <li><a href="/profile">Profile</a></li>
        <li><a href="/exercise">Exercises</a></li>
        <li><a href="/contact_page">Contact Us</a></li>
        <li><a href="/calender_page">Calendar</a></li>
      </ul>
    </nav>
  </footer>
</body>
{% endblock %}