{% extends "layout.html" %}
{% block title %} Wonder Workout - Login{% endblock %}
{% block page %}Wonder Workout- Login{% endblock %}

{{ super() }}

{% block content %}
        <img id="login_img" src="../static/login.jpg"> 
        <main class="form-box">
        <form class="form" method="POST" action="/login" style="padding:1em">
          <label for="username">Username:</label>
          <input class="" placeholder="Enter Username" type="text" id="username" name="username" required>
          <br>
          <label for="password">Password:</label>
          <input placeholder="Enter Password" type="password" id="password" name="password" required>
          <br>
          <button type="submit">Log In</button>
        </form>
        <span class="right">
          <div class="align-right"> 
              DON'T HAVE AN ACCOUNT?
          </div>
          <a href="/signup" class="invisible">
              <input type="button" value="SIGNUP" id="signup-btn" class="submit-btn">
          </a>
      </span>
      </main>
{% endblock %}