{% extends "layout.html" %}
{% block title %} Wonder Workout - Login{% endblock %}
{% block page %}Wonder Workout- Login{% endblock %}

{{ super() }}

{% block content %}
        <img id="login_img" src="../static/login.jpg"> 
        <main class="form-box">
        <form class="form" method="POST" action="/login" style="padding:1em">
          <label for="username">Username:</label>
          <input class="" placeholder="Enter Username" type="text" id="username" name="username" required>
          <br>
          <label for="password">Password:</label>
          <input placeholder="Enter Password" type="password" id="password" name="password" required>
          <br>
          <button type="submit" class="submit-btn" >Log In</button>
        </form>
        <span class="right">
          <a href="/signup" class="invisible" >
            <div class="align-right" id="signup-btn"> 
              DON'T HAVE AN ACCOUNT? <br> 
              SIGNUP
            </div>
          </a>
      </span>
      </main>
{% endblock %}