{% extends "home.html" %}
{% block title %}Profile {% endblock %}
{% block page %}Wonder Workout{% endblock %}

{{ super() }}

{% block content %}

            Gender: {{user.gender}} 
            <form  id="updateGender" class="card" method="POST" action="/profile/gender">
                <div class="card-content">
                    <div class="input field">
                        <input type="text" name="gender" id="gender-text" placeholder="M/F" class="materialize-textarea">
                    </div>
                </div>
                <div class="card-actions">
                    <div class="row">
                        <div class="col sm12 m4 offset-m8">
                            <input class="btn blue right" id="updateGender" type="submit" value="edit"
                        </div>
                    </div>
                </div>
            </form>

{% endblock %}