{% extends "home.html" %}
{% block title %}Profile {% endblock %}
{% block page %}Wonder Workout{% endblock %}

{{ super() }}

{% block content %}
    <div class="user-gender">
        <div id="display-left">
            Gender: {{user.gender}} 
        </div>
        <div id="display-left">

            <div class="gender">
                <a class="" onclick="openform()" href="#">EDIT</a>
              </div>
              <br>
              <div class = "form-popup" id="add">
                <form method="POST" action="/profile/gender" style="padding:1em">
                  <input type="text" name = "gender">
                  <button type="submit" class="btn1">Submit</button>
                  <button type="button" class = "btn1" onclick="closeForm()">Close</button>
                </form>
              </div>
        
              <script>
                function openform(){
                  document.getElementById("add").style.display="block";
                }
                function closeForm() {
                  document.getElementById("add").style.display = "none";
                }
              </script>

        </div>
    </div>

    <div class="user-height">
        <div id="display-left">
            Weight: {{user.height}} 
        </div>
        <div id="display-left">

            <div class="height">
                <a class="" onclick="openform()" href="#">EDIT</a>
              </div>
              <br>
              <div class = "form-popup" id="add">
                <form method="POST" action="/profile/height" style="padding:1em">
                  <input type="text" name = "height">
                  <button type="submit" class="btn1">Submit</button>
                  <button type="button" class = "btn1" onclick="closeForm()">Close</button>
                </form>
            </div>

        </div>
    </div>

    <div class="user-weight">
        <div id="display-left">
            Weight: {{user.weight}} 
        </div>
        <div id="display-left">

            <div class="weight">
                <a class="" onclick="openform()" href="#">EDIT</a>
              </div>
              <br>
              <div class = "form-popup" id="add">
                <form method="POST" action="/profile/weight" style="padding:1em">
                  <input type="text" name = "weight">
                  <button type="submit" class="btn1">Submit</button>
                  <button type="button" class = "btn1" onclick="closeForm()">Close</button>
                </form>
              </div>
        
              <script>
                function openform(){
                  document.getElementById("add").style.display="block";
                }
                function closeForm() {
                  document.getElementById("add").style.display = "none";
                }
              </script>

        </div>
    </div>

    <div class="profile-element">
        <p>Weight Status:</p>
    </div>

    <div class="profile-element">
        <p>Workouts completed for Month:  </p>
    </div>

{% endblock %}