{% extends "layout.html" %}
{% block title %}{% endblock %}
{% block page %}Workout Wonder App{% endblock %}

{{ super() }}

{% block content %}
<body>
    <div class="signup-box">
      <form class="signup-form">
        <h1>Signup</h1>
        <label for="username">Username</label>
        <input type="text" placeholder="Enter Username" name="username" required>
        <label for="password">Password</label>
        <input type="password" placeholder="Enter Password" name="password" required>
        <label for="password">Email</label>
        <input type="email" placeholder="Enter E-Mail Address" name="email" required>
        <button type="submit" class="btn">Signup</button>
      </form>
    </div>
</body>
{% endblock %}