{% extends "home.html" %}
{% block title %} {{workout.name}} {% endblock %}
{{ super() }}


{% block content %}

<div class="">
    <table>
        <thead>
            <tr>
                <th>EXERCISES</th>
                <th>SETS</th>
                <th>REPS</th>
            </tr>
        </thead>
        <tbody> 
        {% for exer in workout.Exercises %}
            <tr>
                <td><a href="/exercise/{{exer.id}}">{{exer.exercise_name}}</a>
                    <a href="/exercise">EDIT</a>
                    <a href="/workout/{{workout.id}}/delete-exercise/{{exer.id}}"> Delete </a>
                </td>
                <td>
                    <form action="">
                        <input type="number" id="quantity" name="quantity" value="{{exer.sets}}" min="1" max="20">
                    </form>
                </td>
                <td>
                    <form action="">
                        <input type="number" id="quantity" name="quantity" value="{{exer.reps}}" min="1" max="10">
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}