{% extends "home.html" %}
{% block title %} {{workout.name}} {% endblock %}
{{ super() }}


{% block content %}

<div class="">
    <table>
        <thead>
            <tr>
                <th>EXERCISES</th>
                <th>SETS</th>
                <th>REPS</th>
            </tr>
        </thead>
        <tbody> 
        {% for exer in workout.Exercises %}
            <tr>
                <td><a href="/exercise/{{exer.id}}">{{exer.exercise_name}}</a>
                    <a href="/exercise" class="button">Edit</a>
                    <a href="/workout/{{workout.id}}/delete-exercise/{{exer.id}}" class="button"> Delete </a>
                </td>
                <td>
                    <form action="/workout/{{workout.id}}/exercise-sets/{{exer.id}}"  method="POST">
                        <input type="number" id="sets" name="sets" value="{{exer.sets}}" min="1" max="20">
                    </form>
                </td>
                <td>
                    <form action="/workout/{{workout.id}}/exercise-reps/{{exer.id}}" method="POST">
                        <input type="number" id="reps" name="reps" value="{{exer.reps}}" min="1" max="10">
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<div class="invisible">
</div>
<div>
    <a href="/workout/{{workout.id}}/workout-completed">
        <div class="complete-button">
            ✓ 
        </div>
    </a>
    <a href="/delete-workout/{{workout.id}}">
        <div class="complete-button">
            Delete
        </div>
    </a>
    <a onclick="openform()" href="#">
        <div class="complete-button">
            Update
        </div>
    </a>
    <br>
    <div class = "form-popup" id="update">
        <form method="POST" action="/rename-workout/{{workout.id}}" style="padding:1em">
            <input type="text" placeholder="Workout Name" name = "new_name">
            <button type="submit" class="btn1">Submit</button>
            <button type="button" class = "btn1" onclick="closeForm()">Close</button>
        </form>
    </div>
</div>

<script> 
    function openform(){
        document.getElementById("update").style.display="block";
    }
    function closeForm(){
        document.getElementById("update").style.display = "none";
    }
</script>

{% endblock %}